USE [master]
GO
/****** Object:  Database [ControlActivosColegio]    Script Date: 9/8/2026 11:31:53 ******/
CREATE DATABASE [ControlActivosColegio]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ControlActivosColegio', FILENAME = N'D:\SQLServer\MSSQL17.SQLEXPRESS\MSSQL\DATA\ControlActivosColegio.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ControlActivosColegio_log', FILENAME = N'D:\SQLServer\MSSQL17.SQLEXPRESS\MSSQL\DATA\ControlActivosColegio_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ControlActivosColegio].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ControlActivosColegio]
GO
/****** Object:  Table [dbo].[activos]    Script Date: 9/8/2026 11:31:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[activos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [varchar](50) NOT NULL,
	[numero_placa] [varchar](100) NOT NULL,
	[imagen_base64] [varchar](max) NULL,
	[fecha_adquisicion] [datetime] NULL,
	[estado] [varchar](50) NOT NULL,
	[id_laboratorio] [int] NOT NULL,
	[fecha_baja] [datetime] NULL,
	[motivo_baja] [varchar](500) NULL,
	[nombre] [varchar](150) NULL,
	[descripcion] [varchar](500) NULL,
	[cantidad] [int] NULL,
	[subcategoria] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[numero_placa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[especialidad]    Script Date: 9/8/2026 11:31:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[especialidad](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[incidencias]    Script Date: 9/8/2026 11:31:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[incidencias](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_activo] [int] NOT NULL,
	[id_usuario_reporta] [int] NOT NULL,
	[descripcion_dano] [varchar](max) NOT NULL,
	[fecha_reporte] [datetime] NULL,
	[estado_incidencia] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[laboratorio]    Script Date: 9/8/2026 11:31:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[laboratorio](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigo_laboratorio] [varchar](50) NOT NULL,
	[id_especialidad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[codigo_laboratorio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[prestamos]    Script Date: 9/8/2026 11:31:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prestamos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_activo] [int] NOT NULL,
	[id_profesor] [int] NOT NULL,
	[id_usuario_autoriza] [int] NOT NULL,
	[fecha_prestamo] [datetime] NULL,
	[fecha_limite] [datetime] NOT NULL,
	[fecha_devolucion] [datetime] NULL,
	[justificante] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[profesor]    Script Date: 9/8/2026 11:31:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[profesor](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cedula] [varchar](20) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[id_laboratorio] [int] NULL,
	[id_especialidad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 9/8/2026 11:31:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[correo] [varchar](100) NOT NULL,
	[contrasena] [varchar](255) NOT NULL,
	[tipo_usuario] [varchar](20) NOT NULL,
	[remember_token] [varchar](64) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [idx_activo_prestado_unico]    Script Date: 9/8/2026 11:31:55 ******/
CREATE UNIQUE NONCLUSTERED INDEX [idx_activo_prestado_unico] ON [dbo].[prestamos]
(
	[id_activo] ASC
)
WHERE ([fecha_devolucion] IS NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[activos] ADD  DEFAULT (getdate()) FOR [fecha_adquisicion]
GO
ALTER TABLE [dbo].[activos] ADD  DEFAULT ('disponible') FOR [estado]
GO
ALTER TABLE [dbo].[incidencias] ADD  DEFAULT (getdate()) FOR [fecha_reporte]
GO
ALTER TABLE [dbo].[incidencias] ADD  DEFAULT ('pendiente') FOR [estado_incidencia]
GO
ALTER TABLE [dbo].[prestamos] ADD  DEFAULT (getdate()) FOR [fecha_prestamo]
GO
ALTER TABLE [dbo].[usuario] ADD  DEFAULT ('lector') FOR [tipo_usuario]
GO
ALTER TABLE [dbo].[activos]  WITH CHECK ADD FOREIGN KEY([id_laboratorio])
REFERENCES [dbo].[laboratorio] ([id])
GO
ALTER TABLE [dbo].[incidencias]  WITH CHECK ADD FOREIGN KEY([id_activo])
REFERENCES [dbo].[activos] ([id])
GO
ALTER TABLE [dbo].[incidencias]  WITH CHECK ADD FOREIGN KEY([id_usuario_reporta])
REFERENCES [dbo].[usuario] ([id])
GO
ALTER TABLE [dbo].[laboratorio]  WITH CHECK ADD FOREIGN KEY([id_especialidad])
REFERENCES [dbo].[especialidad] ([id])
GO
ALTER TABLE [dbo].[prestamos]  WITH CHECK ADD FOREIGN KEY([id_activo])
REFERENCES [dbo].[activos] ([id])
GO
ALTER TABLE [dbo].[prestamos]  WITH CHECK ADD FOREIGN KEY([id_profesor])
REFERENCES [dbo].[profesor] ([id])
GO
ALTER TABLE [dbo].[prestamos]  WITH CHECK ADD FOREIGN KEY([id_usuario_autoriza])
REFERENCES [dbo].[usuario] ([id])
GO
ALTER TABLE [dbo].[profesor]  WITH CHECK ADD FOREIGN KEY([id_especialidad])
REFERENCES [dbo].[especialidad] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[profesor]  WITH CHECK ADD FOREIGN KEY([id_laboratorio])
REFERENCES [dbo].[laboratorio] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[usuario]  WITH CHECK ADD  CONSTRAINT [chk_tipo_usuario] CHECK  (([tipo_usuario]='lector' OR [tipo_usuario]='admin'))
GO
ALTER TABLE [dbo].[usuario] CHECK CONSTRAINT [chk_tipo_usuario]
GO
USE [master]
GO
